<div class="post-index__posts-no">
  <div class="post-index__posts-no--title">
    <p class="post-index__posts-no--not">Not Found</p>
    <p class="post-index__posts-no--find">お探しの投稿が見当たりません。</p>
    <p class="post-index__posts-no--find">変更または削除された可能性があります。</p>
  </div>
</div>