<% unless current_user == user %>
  <div class="user-index__card--follow">
    <% if current_user.following?(user) %>
      <%= link_to " フォロー中 ", user_relationships_path(user.id), method: :delete, remote: true, class: 'followed fas fa-user-check' %>
    <% else %>
      <%= link_to " フォローする ", user_relationships_path(user.id), method: :post, remote: true, class: 'following fas fa-user-plus index-followin' %>
    <% end %>
  </div>
<% end %>