<div class="users">
  <div class="users__headar">
    <div class="users__headar--title">
      <p>フォワー</p>
    </div>
  </div>
  <% if @users.exists? %>
  <div class="user-index">
    <%= render 'users/users', users: @users %>
  </div>
  <% else %>
    <div class="no-users">
      <p class="no-user">まだフォワーはいません</p>
      <p class="no-userless">フォローされるとここに表示されます</p>
    </div>
　<% end %>
</div>