<% notifications.each do |notification| %>
  <div class="notifications__index--list">
    <% visitor = notification.visitor %>
    <% post = notification.post %>
    <div class="notifications__index--container">
      <%= link_to user_path(visitor) do %>
        <p><%= attachment_image_tag visitor, :profile_image, format: 'jpg', size: "150x150", fallback: "no_image.jpg", size: "50x50", class: "profile_image"  %></p>
      <% end %>
      <%= notification_form(notification) %><span class="time"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
      <br />
    </div>
  </div>
<% end %>

