<div class="notifications">
  <div class="notifications__headar">
    <div class="notifications__headar--title">
      <p>通知一覧</p>
    </div>
  </div>
    <% if @notifications.present? %>
    <div class="notifications__index">
      <div class="notifications__index--destroy_all">
          <%= link_to notifications_destroy_all_path, method: :delete do %>
           <p>全削除</p>
          <% end %>
      </div>
      <%= render "notifications/notifications", notifications: @notifications %>
    </div>
  <% else %>
    <div class="no-users">
      <p class="no-user">通知はありません</p>
    </div>
　<% end %>
</div>