<div class="notifications">
  <div class="notifications-row">
    <div class="notifications__headar">
      <div class="notifications__headar--title">
        <p class="title">Notification List</p>
      </div>
    </div>

    <div class="notifications__tab">
      <ul id="tab-menu">
        <li><a href="#tab1" class="active">新着通知</a></li>
        <li><a href="#tab2" class="">既読通知</a></li>
      </ul>

    <div id="tab-contents">
      <div id="tab1" class="tab">
        <% if @notifications.present? %>
          <div class="notifications__index">
            <%= render "notifications/notifications", notifications: @notifications  %>
          </div>
        <% else %>
          <div class="no-users">
            <p class="no-user">通知はありません</p>
          </div>
      　<% end %>
      </div>
  
      <div id="tab2" class="tab">
        <% if @checked_notifications.present? %>
          <div class="notifications__index">
            <div class="notifications__index--destroy_all">
              <%= link_to " 全削除" , notifications_destroy_all_path, method: :delete, data: { confirm: '本当に全て削除しますか？' }, class: "fas fa-trash-alt fa-lg"  %>
            </div>
            <%= render "notifications/notifications", notifications: @checked_notifications  %>
          </div>
        <% else %>
          <div class="no-users">
            <p class="no-user">通知はありません</p>
          </div>
      　<% end %>
      </div>
    </div>
    </div>
    <div class="back">
      <%= link_to '<< 戻る', :back %>
    </div>
  </div>
</div>

<script>
$('#tab-contents .tab[id != "tab1"]').hide();

$('#tab-menu a').on('click', function(event) {
  $("#tab-contents .tab").hide();
  $("#tab-menu .active").removeClass("active");
  $(this).addClass("active");
  $($(this).attr("href")).show();
  event.preventDefault();
});
</script>