<div class="notifications">
  <div class="notifications-row">
    <div class="notifications__headar">
      <div class="notifications__headar--title">
        <p class="title">Notification List</p>
      </div>
    </div>

    <div class="notifications__tab">
      <ul class="tab">
        <li><a href="#false">新着通知</a></li>
        <li><a href="#true ">既読通知</a></li>
      </ul>

      <div id="false" class="area false-area">
        <% if @notifications.present? %>
          <div class="notifications__index">
            <%= render "notifications/notifications", notifications: @notifications  %>
          </div>
        <% else %>
          <div class="no-users">
            <p class="no-user">通知はありません</p>
          </div>
      　<% end %>
      </div>

      <div id="true" class="area">
        <% if @checked_notifications.present? %>
          <div class="notifications__index">
            <div class="notifications__index--destroy_all">
              <%= link_to " 全削除" , notifications_destroy_all_path, method: :delete, data: { confirm: '本当に全て削除しますか？' }, class: "fas fa-trash-alt fa-lg"  %>
            </div>
            <%= render "notifications/notifications", notifications: @checked_notifications  %>
          </div>
        <% else %>
          <div class="no-users">
            <p class="no-user">通知はありません</p>
          </div>
      　<% end %>
      </div>

    </div>
  </div>
</div>




<script>
function GethashID (hashIDName){
  if(hashIDName){
    //タブ設定
    $('.tab li').find('a').each(function() { //タブ内のaタグ全てを取得
      var idName = $(this).attr('href'); //タブ内のaタグのリンク名（例）#falseの値を取得
      if(idName == hashIDName){ //リンク元の指定されたURLのハッシュタグ（例）/notifications/#false←この#の値とタブ内のリンク名（例）#falseが同じかをチェック
        var parentElm = $(this).parent(); //タブ内のaタグの親要素（li）を取得
        $('.tab li').removeClass("active"); //タブ内のliについているactiveクラスを取り除き(removeClassが取り除くコード)
        $(parentElm).addClass("active"); //リンク元の指定されたURLのハッシュタグとタブ内のリンク名が同じであれば、liにactiveクラスを追加(addClassが追加コード)

        //表示させるエリア設定
        $(".area").removeClass("is-active"); //もともとついているis-activeクラスを取り除き
        $(hashIDName).addClass("is-active"); //表示させたいエリアのタブリンク名をクリックしたら、表示エリアにis-activeクラスを追加
      }
    });
  }
}

//タブをクリックしたら
$('.tab a').on('click', function() {
  var idName = $(this).attr('href'); //タブ内のリンク名を取得
  GethashID (idName);//設定したタブの読み込み
  return false;//aタグを無効にする(再読み込みしないように)
});
</script>
