<div class="users">
    <div class="users__headar">
      <div class="users__headar--title">
        <p>ユーザー一覧</p>
      </div>
    </div>
  <div class="user-index">
    <%= render 'users', users: @users %>
  </div>
</div>