<div class="users">
  <div class="users__row">
    <div class="users__headar">
      <div class="users__headar--title">
        <p>User List</p>
      </div>
    </div>
    <div class="user-index">
      <%= render 'users', users: @users %>
    </div>
  </div>
</div>