<% if @posts.empty? %>
  <p>検索結果は０件です</p>
<% else %>
  <h3>投稿一覧<span class="body"> (全 <%=  @post_count %> 件)</span></h3>
  <% @posts.each do |post| %>
    <div>
      <%= link_to post_path(post.id) do %>
        <%= attachment_image_tag post, :image, format: 'jpg', size: "100x100"  %>
      <% end %>
      <p>説明：<%= post.introduction %></p>
    </div>
  <% end %>
<% end %>