<div class="tag">
  <div class="tag-row">
    <div class="tag__title">
      <h2 class="title">Tag List</h2>
    </div>

<ul>
<% @tag_list.each do |tag| %>
<li class="tag__name">
  <%= link_to tag_path(tag.id) do %>
    #<%= tag.name %>
  <% end %>
<% end %>
</li>
<ul>


  </div>
</div>