<h1 class="home_image"></h1>
<div class="home">
  <div class="home__header">
    <h1>素敵なスイーツ、素敵なお店、素敵な人との出会いを</h1>
    <P>求めているスイーツが見つかる</P>
    <P>全国各地のスイーツ情報が集まる、T_SweetDairy</P>
    <P>ぜひお気に入りのお店、スイーツを共有してみませんか？</P>
  </div>
  <div class="home_about">
    <div class="about-area">
      <img src="/assets/cake2.jpg", class="about-image" >
      <div class="container">
          <h1>About</h1>
          <p>
            普段スイーツを発信する機会はあまりないかもしれませんが、<br >
            共有すると共感をもらえたり、共有した仲間から新しい情報がもらたりと、<br >
            新たなスイーツ、お店、人と出会えます。<br >
          </p>
          <p>
          感性が近い投稿者の情報を見て、いいねしたり、コメント欄で質問をして<br >
          スイーツ情報を集めるといったことが簡単にできる場です。
          <p>
          投稿にはお店の地図情報もあり、簡単にお店を探せます。<br >
          投稿したものはカレンダーにて管理ができいつでも探すことができます。
          </p>
          <p>そんな、求めているスイーツ情報をお届けできる素敵な空間です。</p>
      </div>
    </div>
  </div>
  <div class="home-posts">
    <div class="home-posts__title">
        <h2 class="title">　Post List　</h2>
    </div>
    <div class="post-index__posts">
      <%= render 'posts/index', posts: @posts %>
    </div>
    <div class="home-posts__btn">
      <%= link_to "More", posts_path, class: 'btn btn-more' %>
    </div>
  </div>
</div>