<% posts.each do |post| %>
  <div class="post-index__posts-link">
    <%= link_to post_path(post.id) do %>
      <%= attachment_image_tag post, :image, size: "300x200"  %>
      <div class="post-index__posts-introduction">
        <p class="post-index__posts-title">
          <%= post.introduction.truncate(30)  %>

        </p>
        <p class="post-index__posts-create">
          <%= post.created_at.strftime('%Y.%m.%d') %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>