<div class="main-post">
  <div class="post-actions">
    <div class="post-actions__title">
      <h2 class="title">Sweet投稿</h2>
    </div>
    <div class="post-actions__form">
      <%= render 'form',  post: @post %>
    </div>
  </div>
</div>

<script>
$(document).on("turbolinks:load", function(){
  function readURL(input) {
    if(input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#post_image").change(function(){
    readURL(this);
  });
});
</script>