
  <% @tag_list.each do |list|%>
    <%=list.tag_name %>
  <% end %>



<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= attachment_image_tag post, :image, format: 'jpg', size: "100x100"  %>
  <% end %>
  <p>説明：<%= post.introduction %></p>
</div>
<% end %>

