<div class="main-post">
  <div class="main-post-row">

    <div class="post-index">
      <div class="post-index__title">
        <h2 class="title">投稿一覧</h2>
      </div>
      <!--投稿並べ替えリンク-->
      <div class="post-index__posts-links">
        <%= render 'post-links' %>
      </div>
      <!--投稿一覧-->
      <div class="post-index__posts">
        <%= render 'index', posts: @posts %>
      </div>
    </div>
    <div class="side-var">
      <%= render 'side-var', category: @category, tag_list: @tag_list %>
    </div>
  </div>
</div>