<h2>詳細</h2>

<div>
  <P>画像：<%=  attachment_image_tag @post, :image, format: 'jpg', size: "100x100" %></P>
  <p>説明：<%= @post.introduction %></p>
  <p>住所：<%= @post.address %></p>
</div>


<div id="show_map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>
