/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";


$sub-color: #8A7566;
$border-color:  1px solid #8A7566;
$cha-color: #D9C7B8;
$sub-linecolor: #fffff0;
$white-color: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background: #eee;
  font-family: "游ゴシック体","YuGothic";

  main {
    flex: 1;
    height: 100%;
    width: 100%;
    padding-bottom: 70px;
  }
}


input:focus, textarea:focus {
  border: $border-color;
  outline: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  height: 80px;
  background: $cha-color;
  align-items: center;
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 90;
  top: 0;
  a {
    color: $sub-linecolor;
  }
  a:hover{
    opacity: 0.7;
  }

  .logo {
    margin-left: 30px;
    margin-top: 12px;
    display: inline-block;
    width: 80px;
    height: 80px;
  }

  .header__navbar-men-title{
    padding: 3px 10px;
  }

  .category {
    display: none;
  }

  @media screen and (max-width: 767px) {
    .logo {
        margin-left: 5px;
      }
      .category {
        display: block;
        content:'';
        position: absolute;
        left:15px;
        top:25px;
        width:6px;
        height:6px;
        border-top: 2px solid #999;
        border-right:2px solid #999;
        transform: rotate(135deg);
      }
    }
  }


.footer {
  color: #fff;
  background: $cha-color;
  height: 70px;
  width: 100%;
  text-align: center;

  .footer-bar {
    width: 90%;
    margin: 0 auto;
  }

  .copyright {
    font-size: 12px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }

  .sns {
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    position: absolute;

    li {
      margin-right: 10px;
    }
  }

  .top-page {
    width: 60px;
    height: 60px;
    // 与えられた要素を回転、拡大縮小、傾斜、移動することできる
    transform: translate(0px,10px);
  }
  // リンクを右下に固定
  #page-top {
  	position: fixed;
  	right: 10px;
  	bottom: 10px;
  	z-index: 2;
    // はじめは非表示
  	opacity: 0;
  	transform: translateY(100px);
  }

  // 上に上がる動き
  #page-top.UpMove{
  	animation: UpAnime 0.5s forwards;
  }
  @keyframes UpAnime{
    from {
      opacity: 0;
  	transform: translateY(100px);
    }
    to {
      opacity: 1;
  	transform: translateY(0);
    }
  }

  // 下に下がる動き
  #page-top.DownMove{
  	animation: DownAnime 0.5s forwards;
  }
  @keyframes DownAnime{
    from {
    	opacity: 1;
  	transform: translateY(0);
    }
    to {
    	opacity: 1;
  	transform: translateY(100px);
    }
  }
}

nav {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

nav ul {
  display: flex;
}

.image {
  object-fit: cover;
}

.back {
  text-align: start;
  margin-top: 20px;
  a {
    color: $sub-color;
  }
}

/* ---------------------------- */
/* ---- ハンバーガーアイコン ---- */
/* ---------------------------- */
@media screen and (max-width: 767px) {
  #hm-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $sub-linecolor;
    border-radius: 4px;
  }
  .menu-trigger span:nth-child(1) {
    top: 0;
  }
  .menu-trigger span:nth-child(2) {
    top: 20px;
  }
  .menu-trigger span:nth-child(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-child(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
    background-color: $sub-linecolor;
  }
  .menu-trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-child(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    background-color: $sub-linecolor;
  }
  /* ------------------------ */
  /* ------ spメニュー ------ */
  /* ------------------------ */
  #sp-menu {
    position: fixed;
    top: 0;
    background: #D9C7B8;
    width: 100%;
    min-height: 50%;
    display: none;
    z-index: 9;
  }

  nav {
    display: block;
  }

  nav ul  {
    display: block;
    margin-top: 40px;
  }

  .header__search {
    text-align: center;
  }


  #sp-menu li {
    text-align: center;
    margin-bottom: 30px;
  }
  #sp-menu a {
    text-decoration: none;
    font-weight: bold;
  }
}

@media screen and (max-width: 767px) {
  .side-var {
    display: none;
  }
}
