/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";


$sub-color: #8A7566;
$border-color:  1px solid #8A7566;
$cha-color: #D9C7B8;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background:#eee;
  font-family: "游ゴシック体","YuGothic";

  main {
    flex: 1;
    height: 100%;
    width: 100%;
    padding-bottom: 70px;
  }
}


input:focus, textarea:focus {
  border: $border-color;
  outline: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}


.header {
  display: flex;
  height: 80px;
  background: $cha-color;
  color:　#ffffff;
  align-items: center;
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 90;
  top: 0;
  a {
    color: #fffff0;
  }
  .logo {
    margin-top: 12px;
    width: 80px;
    height: 80px;
  }
}

.footer {
  color: #fff;
  background: $cha-color;
  height: 70px;
  width: 100%;
  text-align: center;

  .footer-bar {
    width: 90%;
    margin: 0 auto;
  }

  .copyright {
    font-size: 12px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }

  .sns {
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    position: absolute;

    li {
      margin-right: 10px;
    }
  }

  .top-page {
    width: 60px;
    height: 60px;
    // 与えられた要素を回転、拡大縮小、傾斜、移動することできる
    transform: translate(0px,10px);
  }
  // リンクを右下に固定
  #page-top {
  	position: fixed;
  	right: 10px;
  	bottom: 10px;
  	z-index: 2;
    // はじめは非表示
  	opacity: 0;
  	transform: translateY(100px);
  }

  // 上に上がる動き
  #page-top.UpMove{
  	animation: UpAnime 0.5s forwards;
  }
  @keyframes UpAnime{
    from {
      opacity: 0;
  	transform: translateY(100px);
    }
    to {
      opacity: 1;
  	transform: translateY(0);
    }
  }

  // 下に下がる動き
  #page-top.DownMove{
  	animation: DownAnime 0.5s forwards;
  }
  @keyframes DownAnime{
    from {
    	opacity: 1;
  	transform: translateY(0);
    }
    to {
    	opacity: 1;
  	transform: translateY(100px);
    }
  }

}

.header__logo {
  margin-left: 30px;
  padding: 10px 20px;
  display: inline-block;
}

nav {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

nav ul {
  display: flex;
}

.header__navbar-men-title{
  display: inline-block;
  padding: 3px 10px;
  color: #666666;
}

.image {
  object-fit: cover;
}

.back {
  text-align: start;
  margin-top: 20px;
  a {
    color: $sub-color;
  }
}