// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sub-color: #8A7566;
$border-color:  1px solid #8A7566;

.chats {
  width: 100%;
  margin: 80px auto 0px;
  padding-top: 20px;
  font-family: "游ゴシック体","YuGothic";
  a {
    color: #fffaf0;
  }

  &__row {
    width: 700px;
    margin: auto;
    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }

    &__headar {
    line-height: 15px;
    margin-bottom: 20px;
    border-bottom: $border-color;

    &--title {
      font-family: "ヒラギノ明朝 ProN";
      font-size: 25px;
      letter-spacing: 7px;
      margin: 20px 20px 25px ;
      color: $sub-color;
      display: flex;

      .name {
        margin-top: 20px;
        @media screen and (max-width: 768px) {
          font-size: 18px;
          margin-left: 5px;
        }
      }
    }
  }

  &__message{
    width: 80%;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    overflow-y: scroll;
  }

  &__form {
    border-top: $border-color;
    padding-top: 20px;
    text-align: end;
  }

  .chat-message{
    width: 250px;
    height: 50px;
    padding: 12px 16px;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 400;
    color: #2d2926;
    border-radius: 4px;
    resize: none;
    border: $border-color;
  }

  p {
    background: #B4D3D6;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
  }

  .time, .time2 {
    background: none;
    font-size: 10px;
    margin-bottom: 10px;
    padding-top: 0;
    text-align: end;
  }

  .time2 {
    margin-left: 0;
    margin-right: 50%;
    text-align: start;
  }

  .current_user {
    text-align: right;
  }

  .no-current_user {
    display: flex;
  }

  .no-current_user-message {
    margin-left: 5px;
  }

  .post-show__info-user--image {
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }

  .image {
    width: 50px;
    height: 50px;
    margin-top: 0px;
    @media screen and (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }
}
