// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  height: 700px;
  width: 100%;

  .images {
    object-fit: cover;
  }
}

.top-text {
  position:  absolute;        /* 要素の配置方法を指定 */
  background-color:  #555;    /* 背景色指定 */
  color:  #fff;               /* 文字色指定 */
  padding: 20px;              /* 余白指定 */
  width:  200px;              /* 幅指定 */
  height: 45px;               /* 高さ指定 */
  text-align:  center;        /* 文字を中央揃えに */
  font-size: 30px;            /* フォントサイズ指定 */
  top:  0;                    /* 上からの位置指定 */
  bottom:  0;                 /* 下からの位置指定 */
  left:  0;                   /* 左からの位置指定 */
  right:  0;                  /* 右からの位置指定 */
  margin:  auto;              /* 位置調整と組み合わせて上下中央に */
}

.home {
  width: 100%;
  text-align: center;

  &__header{
    margin: 20px auto;
    font-family: "ヒラギノ明朝 ProN";
    color: #594331;
    letter-spacing: 1px;
    padding: 20px;

    h1 {
     margin-bottom: 20px;
    }

    p {
      font-size: 20px;
    }
  }

  .home_about {
    font-family: "ヒラギノ明朝 ProN";
    margin: 20px auto;
    background: #5B858C;
    width: 60%;
    border: thick double #ffffff;
    letter-spacing: 1px;

    .about-area{
      margin: 20px;
      border: 1px solid #ffffff;
      display: flex;
    }

    .about-image {
      width: 15em;
      height: 45vh;
      border-right: none;
      object-fit: cover;
    }
  }

  .container {
    color: #FFF8F2;
    font-size: 14px;
    text-align: start;
    margin: 20px 5px 10px 20px;
    padding: 10px;

    h1 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 5px;
    }

    p:last-child {
      margin-top: 15px;
    }
  }

  .home-posts {
    width: 95%;
    margin: 6em auto;
  a {
    color: #8A7566;
  }

    &__title {
      width: 350px;
      font-size: 30px;
      letter-spacing: 3px;
      padding-top: 20px;
      margin: 20px auto;
      color: #8A7566;
      border-bottom: 1px solid #8A7566;
      font-family: "ヒラギノ明朝 ProN";
    }

    &__btn {
      margin: 30px;

      .btn-more {
        height: 50px;
        width: 200px;
        display: inline-block;
        padding: 10px;
        color: #B8D4D9;
        border: solid 2px #B8D4D9;
        border-radius: 5px;
        transition: .5s;
        background-color: white;
      }

      .btn-more:hover {
        background: #B8D4D9;
        color: white;
        transition: .4s;
      }
    }
  }
  a {
    color: #fffaf0;
  }
}

