// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: #B8D4D9;
$border-color:  1px solid #8A7566;
$sub-linecolor: #fffff0;

.count_body {
  font-size: 15px;
}

.notifications__tab {
  margin-top: 30px;
// tabの表示
 #tab-menu{
    display: flex;
    flex-wrap: wrap;

    li {
      list-style-type: none;
    }

    a {
      display: block;
      background: #ddd;
      margin: 0 2px;
      padding: 10px 20px;
      text-align: center;
    }
  }

  #tab-menu .active {
    background: #fff;
  }

  #tab-contents {
    background: #fff;
    padding: 50px 20px;
    margin-bottom: 50px;

    .user-index__card {
      margin-bottom: 20px;

      &--follow, &--follow {
        a {
          color: $sub-linecolor;
        }
      }
    }
  }
}

.input-group {

  .btn {
    height: 30px;
    width: 60px;
    display: inline-block;
    color: white;
    border: solid 2px $main-color;
    background: $main-color;
    border-radius: 5px;
    transition: .5s;
  }

  .btn:hover {
    background: #5B858C;
    border: solid 2px #5B858C;
  }

  #keyword {
    border: $border-color;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
  }
}