// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sub-color: #8A7566;
$border-color:  1px solid #8A7566;

.tag {
  width: 100%;
  margin: 100px auto 0px;
  padding-top: 20px;

  a {
    color: $sub-color;
  }

  .tag-row {
    width: 90%;
    margin: auto;
  }

  &__title {
    font-family: "ヒラギノ明朝 ProN";
    border-bottom: $border-color;
    margin-bottom: 32px;
    text-align: start;
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  .title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 29px;
    color: $sub-color;
    margin: 0 40px 12px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      margin: 0 25px;
    }
  }

  &__name {
    font-size: 15px;
    margin: 20px;
    padding: 10px;
    border-bottom: $border-color;
    width: calc(100%/ 6);
    @media screen and (max-width: 768px) {
      width: calc(100%/ 3.7);
      font-size: 13px;
    }
    @media screen and (max-width: 425px) {
      width: calc(100%/ 2.7);
      font-size: 13px;
    }
  }

  .back {
    margin-left: 50px;
    @media screen and (max-width: 768px) {
       margin-left: 25px;
    }
  }
}

