
// カレンダー画面
.usercalendar {
  width: 90%;
  margin:  30px auto;

  &__headar {
    border-bottom: 0.5px solid #c7bcbc;
    margin-bottom: 32px;

    &--title {
    font-size: 20px;
    letter-spacing: 3px;
    color: #5f5354;
    margin: 0 40px 5px;
    }

  }

  &__main {
    width: 90%;
    margin:  30px auto;

    &--post{
      text-align: center;
    }

    &--image{
      border-radius: 50%;
    }
  }

  .calendar-heading  {
    margin: 20px 5px;

    .calendar-title {
      margin: 0 10px;
    }
  }

  .simple-calendar th {
    text-align: center;
    padding: 20px 6px;
  }

  .simple-calendar .prev-month, .next-month {
    background: #B8D4D9;
  }

  .simple-calendar .day {
    height: 150px;
  }
}