// カレンダー画面
.usercalendar {
  margin: 100px auto 0px;

  a {
    color: #8A7566;
  }

  .usercalendar-row {
    width: 90%;
    margin: auto;
    padding-top: 30px;
  }

  &__headar {
    border-bottom: 0.5px solid #8C7969;
    text-align: start;

    &--title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 29px;
    color: #8A7566;
    margin: 0 40px 12px;
    font-family: "ヒラギノ明朝 ProN";
    }

  }

  &__main {
    margin:  30px auto;

    &--post{
      text-align: center;
    }

    &--image{
      border-radius: 50%;
    }
  }

  .calendar-heading  {
    margin: 20px 5px;

    .calendar-title {
      margin: 0 10px;
    }
  }

  .simple-calendar th {
    text-align: center;
    padding: 20px 6px;
  }

  .simple-calendar .prev-month, .next-month {
    background: #B8D4D9;
  }

  .simple-calendar .day {
    height: 150px;
  }
}
