$main-color: #B8D4D9;
$sub-color: #8A7566;

// カレンダー画面
.usercalendar {
  margin: 100px auto 0px;

  a {
    color: $sub-color;
  }

  .usercalendar-row {
    width: 90%;
    margin: auto;
    padding-top: 30px;
  }

  &__headar {
    border-bottom: 0.5px solid #8C7969;
    text-align: start;
    @media screen and (max-width: 767px) {
      text-align: center;
    }

    &--title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 29px;
    color: $sub-color;
    margin: 0 40px 12px;
    font-family: "ヒラギノ明朝 ProN";
    }

  }

  &__main {
    margin:  30px auto;

    &--post{
      text-align: center;
    }

    &--image{
      border-radius: 50%;
      width: 130px;
      height: 130px;
      @media screen and (max-width: 767px) {
        width: 50px;
        height: 50px;
      }
    }
  }

  .calendar-heading  {
    margin: 20px 5px;

    .calendar-title {
      margin: 0 10px;
    }
  }

  .simple-calendar th {
    text-align: center;
    padding: 20px 6px;
  }

  @media screen and (max-width: 767px) {
    .simple-calendar td {
      padding: 2px 0 0 3px;
      font-size: 10px;
    }
    .simple-calendar th {
      font-size: 13px;
      padding: 3px;
    }
  }

  .simple-calendar .prev-month, .next-month {
    background: $main-color;
  }

  .simple-calendar .day {
    height: 150px;
    @media screen and (max-width: 767px) {
      height: 70px;
    }
  }
}
