// ユーザー編集画面
.userinfo {
  width: 100%;
  margin: 100px auto 0;
  padding-top: 20px;
  color: #8C7969;
  text-align: center;

  &__edit {
    margin: 30px auto;
    max-width: 700px;
  }

  &__title {
    font-family: "ヒラギノ明朝 ProN";
    border-bottom: 0.5px solid #8C7969;
    margin-bottom: 32px;
    text-align: start;

    &--name {
      font-size: 30px;
      font-weight: 500;
      letter-spacing: 3px;
      line-height: 29px;
      color: #8A7566;
      margin: 0 40px 12px;
    }
  }

  &__form {
    max-width: 600px;
    margin: auto;

    &-field {
      margin-bottom: 48px;

      &--title {
        line-height: 35px;
        font-size: 14px;
        font-weight: 700;
        color: #5f5354;
      }

      &--image {
        object-fit: cover;
      }

      &--name {
        width: 70%;
        height: 40px;
        text-align: center;
        font-size: 14px;
        color: #8A7566;
        padding: 8px 16px;
        border: 0.5px solid #8A7566;
        transition: .4s;
        border-radius: 3px;
      }

      &--introduction {
        width: 70%;
        height: 130px;
        padding: 16px;
        text-align: center;
        font-size: 14px;
        color: #8A7566;
        padding: 8px 16px;
        border: 0.5px solid #8A7566;
        transition: .4s;
        border-radius: 3px;
      }
    }

    .actions-btn {
      margin-top: 10px;
      height: 35px;
      width: 300px;
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #B4D3D6;
      border: solid 2px #B4D3D6;
      border-radius: 3px;
      transition: .4s;
      background-color: white;
    }

    .actions-btn:hover {
      background: #B4D3D6;
      color: white;
    }
  }
}