.users {
  width: 100%;
  margin: 100px auto 0px;
  padding-top: 20px;
  font-family: "游ゴシック体","YuGothic";

  &__row {
    width: 90%;
    margin: auto;
  }

    &__headar {
    line-height: 15px;
    margin-bottom: 32px;
    border-bottom: 1px solid #8C7969;

    &--title {
      font-family: "ヒラギノ明朝 ProN";
      font-size: 25px;
      letter-spacing: 7px;
      margin: 20px 20px 25px ;
      color: #8A7566;
    }
  }
}

.user-index {
  width: 90%;
  font-family: 'Roboto', Arial, sans-serif;
  margin: auto;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__card {
    background-color: #B8D4D9;
    margin: 5px;
    width: 270px;
    padding: 5px;
    height: 470px;

    &--color {
      width: 200px;
      height: 200px;
      margin: 10px 5px 5px 25px;
      background-color: #ffffff;
    }
    &--profile-image {
      margin: 20px 10px 10px 50px;
      position: absolute;
    }

    &--info {
      padding: 30px 20px 5px;
    }

    &--name {
      margin: 0 5px 10px;
      font-size: 20px;
    }

    &--introduction {
      margin: 0 0 10px;
      font-size: 0.8em;
      letter-spacing: 1px;
      opacity: 0.8;
    }

    &--follow {
      text-align: end;
    }

    &--following {
      color: #FFF8F2;
      padding: 5px;
      border: 1px solid #FFF8F2;
      font-size: 12px;
      text-transform: uppercase;
      margin: 10px 10px;
      padding: 10px;
      display: inline-block;
      opacity: 0.65;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 1px;
    }

    &--following:hover {
      opacity: 10;
    }

    &--followed {
      background-color: #5B858C;
      color: #FFF8F2;
      padding: 5px;
      border: 1px solid #5B858C;
      font-size: 12px;
      text-transform: uppercase;
      margin: 10px 10px;
      padding: 10px;
      display: inline-block;
      opacity: 0.65;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 1px;
    }

    &--followed:hover {
      opacity: 5;
    }
  }
}

.user-index::after{
  content:"";
  display: block;
  width: 270px;
  padding: 5px;
}
