$main-color: #B8D4D9;
$sub-color: #8A7566;
$border-color:  1px solid #8A7566;
$white-color: #ffffff;

.users {
  width: 100%;
  margin: 100px auto 0px;
  padding-top: 20px;
  font-family: "游ゴシック体","YuGothic";
  a {
    color: #fffaf0;
  }

  &__row {
    width: 90%;
    margin: auto;
  }

    &__headar {
    line-height: 15px;
    margin-bottom: 32px;
    border-bottom: $border-color;

    &--title {
      font-family: "ヒラギノ明朝 ProN";
      font-size: 25px;
      letter-spacing: 7px;
      margin: 20px 20px 25px ;
      color: $sub-color;

      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
  }
}

.user-index {
  width: 90%;
  font-family: 'Roboto', Arial, sans-serif;
  margin: auto;
  color: $white-color;
  text-align: left;
  line-height: 1.4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }


  &__card {
    background-color: $main-color;
    margin: 5px;
    width: 270px;
    padding: 5px;
    height: 470px;

    @media screen and (max-width: 768px) {
      width: 200px;
      padding: 5px;
      height: 350px;
    }

    &--color {
      width: 200px;
      height: 200px;
      margin: 10px 5px 5px 25px;
      background-color: $white-color;
     @media screen and (max-width: 768px) {
        height: 130px;
        width: 130px;
      }
    }

    &--profile-image {
      margin: 20px 10px 10px 50px;
      position: absolute;

      .profile_image {
        object-fit: cover;
        height: 200px;
        width: 200px;
        @media screen and (max-width: 768px) {
          height: 130px;
          width: 130px;
        }

      }
    }

    &--info {
      padding: 30px 20px 5px;
    }

    &--name {
      margin: 0 5px 10px;
      font-size: 20px;
      @media screen and (max-width: 768px) {
        font-size: 15px;
      }
    }

    &--introduction {
      margin: 0 0 10px;
      font-size: 0.8em;
      letter-spacing: 1px;
      opacity: 0.8;
      @media screen and (max-width: 768px) {
        font-size: 0.3em;
      }
    }

    &--follow {
      text-align: end;
    }

    &--followed:hover {
      opacity: 5;
    }
  }
  .card-area {
    display: block;
  }
}