// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.notifications {
  width: 100%;
  margin: 100px auto 0px;
  padding-top: 20px;
  font-family: system-ui, sans-serif;
  text-align: center;
  a {
    color: #8A7566;
  }

  .notifications-row {
    width: 800px;
    margin: auto;
  }

  &__headar {
    margin-bottom: 22px;

    &--title {
      font-family: "ヒラギノ明朝 ProN";
      border-bottom: 0.5px solid #8C7969;
      margin-bottom: 32px;
      text-align: start;

      .title {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 3px;
        line-height: 29px;
        color: #8A7566;
        margin: 0 20px 12px;
      }
    }
  }

  &__tab {
    // tabの表示
    #tab-menu{
      display: flex;
      flex-wrap: wrap;

      li {
        list-style-type: none;
      }

      a {
        display: block;
        background: #ddd;
        margin: 0 2px;
        padding: 10px 20px;
        text-align: center;
      }
    }

    #tab-menu .active {
      background: #fff;
    }

    #tab-contents {
      background: #fff;
      padding: 50px 20px;
      margin-bottom: 50px;
    }
  }

  &__index {
    margin: 10px auto;
    padding: 10px;

    &--destroy_all {
      text-align: end;
      margin: 10px 50px;
    }

    .profile_image {
      border-radius: 50%;
      object-fit: cover;
      margin: 0 8px 0 0;
    }

    &--list {
      padding: 10px;
    }

    &--container {
      align-items: center;
      display: flex;

      .time {
        margin: 1px 5px 0 5px;
        font-size: 12px;
        letter-spacing: 0.8px;
      }
    }
  }
}
