// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .no-users {
    margin: 30px 40px;
    font-family: "メイリオ","Meiryo";
    color: #5f5354;

    .no-user {
      font-size: 30px;
      padding: 10px;
      font-weight: bold;
    }

    .no-userless {
      font-size: 17px;
      padding: 10px;
    }
 }