// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザー詳細画面（マイページ）
.user-show {
  width: 100%;
  margin: 100px auto 200px;
  padding-top: 20px;
  font-family: "游ゴシック体","YuGothic";
  color: #8C7969;

  a {
    color: #8A7566;
  }

  &__row {
  width: 90%;
  margin: auto;
  }

  &__header {
    width: 90%;
    margin: 0 auto 32px;
  }

  &__profile {
    width: 80%;
    display: grid;
    grid-template-columns: 184px 1fr;
    position: relative;
    grid-template-areas:
        "profIcon title"
        "profIcon userCount"
  }

  &__profile-image{
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
  }

  &__profile-title {
    grid-area: title;
    margin-top: 10px;
    width: 60%;

    &--name{
      margin: 10px 0 4px;
      display: block;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.8px;
      font-weight: 700;
    }

    &--introduction{
      display: inline-block;
      letter-spacing: 0.4px;
      color: #999;
      font-weight: 400;
    }
  }

  &__usercount {
    grid-area: userCount;
    height: 40px;
    margin-top: 15px;

    &--item {
      margin-top: 5px;
      display: inline-block;
      font-size: 18px;
      padding: 0 15px;
      border-right: 1px solid #8C7969;
      font-family: "ヒラギノ明朝 ProN";
    }

    &--item:last-child {
      border: none;
      padding-right: 0;
    }
  }

  .itemname {
    font-size: 13px;
    margin-left: 5px;
  }

  .btn-following {
    text-decoration: none;
    color: #ed7483;
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    color: #ed7483;
    font-weight: 400;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ed7483;
  }

  .btn-following:hover {
    background: #ff7f7f;
    color: white;
  }

  .btn-followed {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ed7483;
    background: #ff7f7f;
  }

  &__edit-area {
    position: absolute;
    right: 0;
    top: 0;
    a {
      color: #fffaf0;
    }
  }

  &__edit-btn {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #5B858C;
    background: #5B858C;
    margin: 10px;
    text-align: center;
  }

  &__calendar-btn {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #5B858C;
    background: #5B858C;
    margin: 10px;
    text-align: center;
  }

  // sort機能
  &__posts-link {
    border-top: 1px solid #8A7566;
    margin: 15px 10px;


    &--item {
      font-family: "游ゴシック体","YuGothic";
      margin: 10px 0 0;
      display: inline-block;
      font-size: 18px;
      padding: 10px;
      border-left: 1px solid #e7e7e7;
      cursor: pointer;
    }

    &--item:hover{
      box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
      transform: translateY(-1px);
    }


    &--item:first-child {
      border: none;
    }
  }
}

