// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザー詳細画面（マイページ）
.user-show {
  width: 90%;
  margin:  30px auto;

  &__header {
    margin: 0 0 32px;
  }

  &__profile {
    width: 80%;
    display: grid;
    grid-template-columns: 184px 1fr;
    position: relative;
    grid-template-areas:
        "profIcon title"
        "profIcon userCount"
  }

  &__profile-image{
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
  }

  &__profile-title {
    grid-area: title;
    margin-top: 10px;
    width: 60%;

    &--name{
      margin: 10px 0 4px;
      display: block;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.8px;
      color: #000;
      font-weight: 700;
    }

    &--introduction{
      display: inline-block;
      letter-spacing: 0.4px;
      color: #999;
      font-weight: 400;
    }
  }

  &__usercount {
    grid-area: userCount;
    height: 40px;
    margin-top: 15px;

    &--item {
      margin-top: 5px;
      display: inline-block;
      font-size: 18px;
      padding: 0 15px;
      border-right: 1px solid #e7e7e7;
    }

    &--item:last-child {
      border: none;
      padding-right: 0;
    }
  }

  .itemname {
    font-size: 13px;
    margin-left: 5px;
  }

  &__edit-area {
    position: absolute;
    right: 0;
    top: 0;
  }

  .btn-following {
    text-decoration: none;
    color: #ed7483;
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    color: #ed7483;
    font-weight: 400;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ed7483;
  }

  .btn-following:hover {
    background: #ff7f7f;
    color: white;
  }

  .btn-followed {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ed7483;
    background: #ff7f7f;
  }

  &__edit-btn {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ed7483;
    background: #ff7f7f;
    margin: 10px;
    text-align: center;
  }

  &__calendar-btn {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ed7483;
    background: #ff7f7f;
    margin: 10px;
    text-align: center;
  }

  &__posts-link {
    border-top: 1px solid #e7e7e7;
    margin: 15px 10px;


    &--item {
      margin: 20px 0 0;
      display: inline-block;
      font-size: 18px;
      padding: 0 10px;
      border-left: 1px solid #e7e7e7;
    }

    &--item:first-child {
      border: none;
      padding-left: 0;
    }
  }
}

// ユーザー編集画面
.userinfo {
  text-align: center;
  margin: 30px auto;
  max-width: 700px;

  &__title {
    font-family: system-ui, sans-serif;
    border-bottom: 0.5px solid #c7bcbc;
    margin-bottom: 32px;
    text-align: start;

    &--name {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 29px;
      color: #5f5354;
      margin: 0 40px 12px;
    }
  }

  &__form {
    max-width: 600px;
    margin: auto;

    &-field {
      margin-bottom: 48px;

      &--title {
        line-height: 35px;
        font-size: 14px;
        font-weight: 700;
        color: #5f5354;
      }

      &--image {
        object-fit: cover;
      }

      &--name {
        width: 70%;
        height: 40px;
        text-align: center;
      }

      &--introduction {
        width: 70%;
        height: 130px;
        padding: 16px;
        border: 1px solid #988d8d;
        font-size: 14px;
        border-radius: 3px;
        resize: none;
        font-weight: 400;
        text-align: center;
      }
    }

    .actions-btn {
      height: 30px;
      width: 300px;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #ff7f7f;;
      border: solid 2px #ff7f7f;;
      border-radius: 3px;
      transition: .4s;
      background-color: white;
    }

    .actions-btn:hover {
      background: #ff7f7f;;
      color: white;
    }
  }
}

.user-posts {
  width: 100%;
}

// カレンダー画面
.usercalendar {
  width: 90%;
  margin:  30px auto;

  &__headar {
    border-bottom: 0.5px solid #c7bcbc;
    margin-bottom: 32px;

    &--title {
    font-size: 20px;
    letter-spacing: 3px;
    color: #5f5354;
    margin: 0 40px 5px;
    }

  }

  &__main {
    width: 90%;
    margin:  30px auto;

    &--post{
      text-align: center;
    }

    &--image{
      border-radius: 50%;
    }
  }

  .calendar-heading  {
    margin: 20px 5px;

    .calendar-title {
      margin: 0 10px;
    }
  }

  .simple-calendar th {
    text-align: center;
    padding: 20px 6px;
  }

  .simple-calendar .prev-month, .next-month {
    background: #c7bcbc;
  }

  .simple-calendar .day {
    height: 150px;
  }
}