
$main-color: #B8D4D9;
$sub-color: #8A7566;
$border-color:  1px solid #8A7566;

// 投稿一覧
.post-index {
  width: calc(100% - 200px);
  padding: 0 40px 0 0;

  // Post List
  &__title {
    line-height: 15px;
    border-bottom: $border-color;

    .title {
      font-family: "ヒラギノ明朝 ProN";
      font-size: 25px;
      letter-spacing: 7px;
      margin: 20px 20px 25px ;
      color: $sub-color;
    }
  }

  // ソート機能リンク
  &__posts-links {
    margin: 10px auto;
    width: 98%;

    &--item {
      margin: 10px 0 0;
      display: inline-block;
      font-size: 18px;
      padding: 10px;
      border-left: 1px solid #e7e7e7;
      cursor: pointer;
    }

    &--item:hover{
      box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
      transform: translateY(-1px);
    }

    &--item:first-child {
      border: none;
    }
  }

  // eche文
  &__posts {
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--link {
      background: $main-color;
      margin: 5px;
      width: 310px;
      padding: 5px;
    }

    &--introduction {
      padding: 10px 15px;
      text-align: start;

      &--user {
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-bottom: 10px;

        &-image {
          object-fit: cover;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      &--title {
        height: 50px;
        font-weight: bold;
        color: #9f886e;
        word-wrap: normal;
      }

      &--create {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        font-size: 12px;
        vertical-align: middle;
        text-align: end;

        .like {
          padding-right: 5px;
          border-right: 1px solid;
        }
        .created {
          padding-left: 5px;
        }
      }
    }
  }

  // 検索結果がない時
  &__posts-no {
    width: 50%;
    margin: 40px auto;
    font-weight: bold;
    color: #5f5354;

    &--not {
      font-size: 40px;
      padding: 10px;
    }

    &--find {
      font-size: 20px;
      padding: 10px;
    }
  }

  &__posts::after{
    content:"";
    display: block;
    width: 310px;
    padding: 5px;
  }
}