// Place all the styles related to the PostComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sub-color: #8A7566;
$border-color:  1px solid #8A7566;

.post-show__comments {
  width: 640px;
  border-top: $border-color;
  margin: 20px auto;
  padding: 10px;

  &--title {
    border-left: 3px solid $sub-color;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.8px;
    padding-left: 16px;
    margin: 15px 0;
    font-weight: 700;
    text-align: start;

    .comment-count {
      font-size: 10px;
      margin-left: 5px;
      letter-spacing: 5px;
    }
  }

  &--list {
    list-style-type: none;
    padding: 0 0 24px 16px;
    margin: 0;
    border-bottom: $border-color;
    text-align: left;

    .comments-item {
      display: flex;

      .user-image {
        margin-top: 10px;
      }

      .post_user-image {
        margin: 40px 0 0 8px;
      }

      &__contents {
        background-color: #B4D3D6;
        border-radius: 8px;
        padding: 12px 16px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4px;
        font-weight: 400;
        color: #2d2926;
        margin: 0;
        border: 1px solid #eceef0;
        width: 500px;

        .nickname {
          display: block;
          font-weight: 500;
          margin-bottom: 10px;
          letter-spacing: 0;
        }
      }

      &__created {
        padding: 8px 0 0 8px;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.4px;
        color: #999;
        font-weight: 400;
      }
      &__post_user-created {
        text-align: end;
      }
    }

    .post_user_comment {
      margin: 24px 0 16px 80px;
    }
  }
}

.new-comment-area {
  margin: 0 30px 0 70px;
}

.comment-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 24px 0 16px;
}

.new-comment {
  margin-top: 20px;
  width: 400px;
  height: 84px;
  padding: 12px 16px;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  color: #2d2926;
  border-radius: 4px;
  resize: none;
  border: $border-color;
}

.actions-btn {
  height: 30px;
  width: 100px;
  text-decoration: none;
  color: #B4D3D6;
  border: solid 2px #B4D3D6;
  border-radius: 3px;
  transition: .4s;
  background-color: white;
}

.actions-btn:hover {
  background: #B4D3D6;
  color: white;
}