// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sub-color: #8A7566;
$border-color:  1px solid #8A7566;

.main-post {
  width: 100%;
  margin: 100px auto 0px;
  padding-top: 20px;

  a {
    color: $sub-color;
  }
}

.main-post-row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}


// サイドバー検索
.side-var {
  width: 200px;
  margin-top: 20px;

  &__list {
    margin-bottom: 40px;
  }

  &__title {
    border-bottom: $border-color;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    color: #8C7969;
  }

  &__list-name {
    font-size: 15px;
    margin: 5px;
  }

  &__list-link {
    margin: 10px;
  }

}

// 投稿詳細画面
.post-show {
  width: 700px;
  text-align: center;
  margin: auto;
  color: #5f5354;

  &__info {
    width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 0 15px 10px;
    border-bottom: $border-color;
  }

  &__info-user {

    &--link{
      display: flex;
      align-items: center;
    }

    &--image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 8px 0 0;
    }

    &--name {
      font-size: 13px;
      color: #999;
    }
  }

  &__info-list {
    display: flex;

    &--like, &--category, &--creat {
      font-size: 13px;
      color: #999;
      margin-right: 10px;
    }

    &--category, &--like {
      padding-right: 10px;
      border-right: 1px solid #e7e7e7;
    }

    &--name {
      font-size: 10px;
    }
  }
  .heart_red{color: #ff0000;}

  .heart_blue{color: #b3b3b3;}

  &__content-main {
    margin: 20px auto;
  }

  &__content-tag{
    width: 640px;
    margin: 0 auto;
    text-align: start;
    color: #666666
  }

  &__adress {
    width: 640px;
    margin: 10px auto;
    border-top: $border-color;
    padding: 15px 0;
    text-align: start;
    color: #666666
  }

  &__edit-destroy {
    width: 640px;
    text-align: end;
    margin: 10px auto;
    font-size: 15px;
  }

  &__edit {
    padding-right: 10px;
    border-right: $border-color;
  }

  &__destroy {
    padding-left: 10px;
  }
}

// 地図表示
#map {
  height: 400px;
  width: 600px;
  margin: 0 auto 30px;
}

#show_map {
  height: 400px;
  width: 600px;
  margin: 0 auto 30px;
}

