// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-post {
  width: 100%;
  margin: 100px auto 0px;
  padding-top: 20px;

  a {
    color: #8A7566;
  }
}

.main-post-row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}


// サイドバー検索
.side-var {
  width: 200px;
  margin-top: 20px;

  &__list {
    margin-bottom: 40px;
  }

  &__title {
    border-bottom: 1px solid #8A7566;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    color: #8C7969;
  }

  &__list-name {
    font-size: 15px;
    margin: 5px;
  }

  &__list-link {
    margin: 10px;
  }

}

// 投稿詳細画面
.post-show {
  width: 700px;
  text-align: center;
  margin: auto;
  color: #5f5354;

  &__info {
    width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 0 15px 10px;
    border-bottom: 1px solid #8A7566;
  }

  &__info-user {

    &--link{
      display: flex;
      align-items: center;
    }

    &--image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 8px 0 0;
    }

    &--name {
      font-size: 13px;
      color: #999;
    }
  }

  &__info-list {
    display: flex;

    &--like, &--category, &--creat {
      font-size: 13px;
      color: #999;
      margin-right: 10px;
    }

    &--category, &--like {
      padding-right: 10px;
      border-right: 1px solid #e7e7e7;
    }

    &--name {
      font-size: 10px;
    }
  }


  &__content-main {
    margin: 20px auto;
  }

  &__content-tag{
    text-align: start;
    color: #666666
  }

  &__adress {
    border-top: 1px solid #8A7566;
    padding: 15px 0;
    text-align: start;
    color: #666666
  }

  &__edit-destroy {
    width: 640px;
    text-align: end;
    margin: 10px auto;
    font-size: 15px;
  }

  &__edit {
    padding-right: 10px;
    border-right: 1px solid #8A7566;
  }

  &__destroy {
    padding-left: 10px;
  }

  // コメント欄
  &__comments {
    width: 640px;
    border-top: 1px solid #8A7566;
    margin: 20px auto;
    padding: 10px;

    &--title {
      border-left: 3px solid #8A7566;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.8px;
      padding-left: 16px;
      margin: 15px 0;
      font-weight: 700;
      text-align: start;

      .comment-count {
        font-size: 10px;
        margin-left: 5px;
        letter-spacing: 5px;
      }
    }

    &--list {
      list-style-type: none;
      padding: 0 0 24px 16px;
      margin: 0;
      border-bottom: 1px solid #8A7566;
      text-align: left;

      .comments-item {
        display: flex;

        .user-image {
          margin-top: 10px;
        }

        .current_user {
          margin: 30px 0 0 8px;
        }

        &__contents {
          background-color: #B4D3D6;
          border-radius: 8px;
          padding: 12px 16px;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.4px;
          font-weight: 400;
          color: #2d2926;
          margin: 0;
          border: 1px solid #eceef0;
          width: 500px;
        }

        &__nickname {
          display: block;
          font-weight: 500;
          margin-bottom: 10px;
          letter-spacing: 0;
        }

        &__created-at {
          padding: 8px 0 0 8px;
          font-size: 11px;
          line-height: 14px;
          letter-spacing: 0.4px;
          color: #999;
          font-weight: 400;
        }
        &__current_user-created-at {
          padding: 8px 0 0 8px;
          font-size: 11px;
          line-height: 14px;
          letter-spacing: 0.4px;
          color: #999;
          font-weight: 400;
          text-align: end;
        }
      }

      .current_user_comment {
        margin: 24px 0 16px 80px;
      }
    }

    .new-comment-area {
      margin: 0 30px 0 70px;
    }

    .comment-form {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 24px 0 16px;
    }

    .new-comment {
      width: 400px;
      height: 84px;
      padding: 12px 16px;
      font-size: 14px;
      letter-spacing: 0.4px;
      font-weight: 400;
      color: #2d2926;
      border-radius: 4px;
      border: 1px solid #e7e7e7;
      resize: none;
    }

    .actions-btn {
      margin-top: 30px;
      height: 30px;
      width: 100px;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #B4D3D6;
      border: solid 2px #B4D3D6;
      border-radius: 3px;
      transition: .4s;
      background-color: white;
    }

    .actions-btn:hover {
      background: #B4D3D6;
      color: white;
    }
  }
}

// 地図表示
#map {
  height: 400px;
  width: 600px;
  margin: 0 auto 30px;
}

#show_map {
  height: 400px;
  width: 600px;
  margin: 0 auto 30px;
}

