$sub-color: #8A7566;
$border-color:  1px solid #8A7566;

.signup, .signin {
  margin: 60px auto 0;
  text-align: center;
  padding-top: 80px;
  font-family: "ヒラギノ明朝 ProN";
  letter-spacing: 2px;
  color: $sub-color;

  a {
    color: $sub-color;
  }

  .signup-header h2, .signin-header h2 {
    width: 300px;
    margin: 0 auto;
    font-size: 30px;
    letter-spacing: 3px;
    border-bottom: $border-color;
    color: $sub-color;
  }

  .form-body {
    margin-top: 20px;

    &__field {
      margin: 18px auto;
    }

    .btn-sign {
      margin-top: 10px;
      height: 35px;
      width: 300px;
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #B4D3D6;
      border: solid 2px #B4D3D6;
      border-radius: 3px;
      transition: .4s;
      background-color: white;
    }

    .btn-sign:hover {
      background: #B4D3D6;
      color: white;
    }
  }

  .sign-link {
    margin-top: 20px;
    color: $sub-color;

    .link {
      border-bottom: $border-color;
    }

    @media screen and (max-width: 425px) {
      .link::before {
  			content: "\A" ;
  			white-space: pre ;
  		}
    }
    .signin-link {
      margin-bottom: 15px;
    }
  }
  .back {
    margin-left: 30%;
    @media screen and (max-width: 768px) {
      margin-left: 10%;
    }
  }
}

.sign-form {
  height: 38px;
  width: 300px;
  font-size: 14px;
  color: $sub-color;
  padding: 8px 16px;
  border: $border-color;
  transition: .4s;
  border-radius: 3px;
}

