.signup, .signin {
  margin: 60px auto 0;
  text-align: center;
  padding-top: 80px;
  font-family: "ヒラギノ明朝 ProN";
  letter-spacing: 2px;
  color: #8A7566;

  .signup-header h2, .signin-header h2 {
    width: 300px;
    margin: 0 auto;
    font-size: 30px;
    letter-spacing: 3px;
    border-bottom: 1px solid #8A7566;
    color: #8A7566;
  }

  .form-body {
    margin-top: 20px;

    &__field {
      margin: 18px auto;
    }

    .btn-sign {
      margin-top: 10px;
      height: 35px;
      width: 300px;
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #B4D3D6;
      border: solid 2px #B4D3D6;
      border-radius: 3px;
      transition: .4s;
      background-color: white;
    }

    .btn-sign:hover {
      background: #B4D3D6;
      color: white;
    }
  }

  .sign-link {
    margin-top: 20px;
    color: #8A7566;

    .link {
      border-bottom: solid 1px #8A7566;
    }
    .signin-link {
      margin-bottom: 15px;
    }
  }
}

.sign-form {
  height: 38px;
  width: 300px;
  font-size: 14px;
  color: #8A7566;
  padding: 8px 16px;
  border: 0.5px solid #8A7566;
  transition: .4s;
  border-radius: 3px;
}