.signup, .signin {
  max-width: 800px;
  margin: 80px auto;
  text-align: center;
}

.signup-body, .signin-body {
  margin-top: 48px;
  overflow: hidden;
  font-family: system-ui, sans-serif;
  position: relative;
}

.field {
  padding: 0;
  margin: 0 auto 10px;
}

.sign-form {
  height: 36px;
  width: 300px;
  border: 0.5px solid #988d8d;
  font-size: 14px;
  color: #5f5354;
  padding: 8px 16px;
}

.submit {
  background-color: #white;
}

.btn-sign {
  margin-top: 10px;
  height: 30px;
  width: 300px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  background-color: white;
}

.btn-sign:hover {
  background: #67c5ff;
  color: white;
}

.btn-signin {
  margin-top: 10px;
  height: 30px;
  width: 300px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #ff7f7f;;
  border: solid 2px #ff7f7f;;
  border-radius: 3px;
  transition: .4s;
  background-color: white;
}

.btn-signin:hover {
  background: #ff7f7f;;
  color: white;
}
