<footer class="footer">
  <div class="footer-bar">
    <ul class="sns">
      <li class="fab fa-facebook-f"></li>
      <li class="fab fa-twitter"></li>
      <li class="fab fa-instagram"></li>
    </ul>
    <div class="copyright">
      Copyright © T_SweetDiary. All rights reserved.
    </div>
  </div>

</footer>