<%= form_with url: search_path, method: :get, local: true do |f| %>
  <div class="input-group">
    <%= f.text_field :keyword, placeholder: "キーワードで検索" %>
    <input type="submit" value="&#xf002; 検索" class="fas btn">
    </button>
  </div>
<% end %>

