<%= form_with url: search_path, method: :get, local: true do |f| %>
  <div class="input-group">
      <%= f.text_field 'search[value]', 'search[how]': "keyword", placeholder: "キーワードで検索" %>
      <%= f.submit "検索"  %>
  </div>
<% end %>